
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
    <tbody>
        <% @books.each do |book| %>
        <td> <%= link_to "/books/#{book.id}" do %>
          <%= attachment_image_tag book.user, :profile_image, size: "100x100", fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
        <% end %> </td>
        <td><%= link_to book.title, "/books/#{book.id}", class: "book_#{book.id}" %></td>
        <td><%= book.opinion %></td>
      </tr>
      <% end %>
    </tbody>

</table>